<!DOCTYPE html>
<html>

<head>
  <title>Administracion de asociacion</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <div class="titulo">
      <h1>Administracion de asociaciones</h1>
    </div>
    <form action="/" method="POST" name="formAsociaciones">
        <input class="cajas" type="text" name="name" id="nameAsoc">
        <input class="cajas" type="text" name="departamento" id="departamentoAsoc">
        <input class="cajas" type="number" name="años" id="añosAsoc">
        <input class="submit" type="submit" value="Enviar">
    </form>
    <table class="tabla">
      <thead class="cabezaTabla">
        <th>ID</th>
        <th>NOMBRE</th>
        <th>DEPARTAMENTO</th>
        <th>AÑOS</th>
        <th>OPCIONES</th>
      </thead>
      <tbody class="cuerpoTabla">
      </tbody>
    </table>
  </div>
  <script src="javascripts/main.js"></script>
</body>

</html>