<!DOCTYPE html>
<html>
  <head>
    <title>Administracion de asociacion</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <table>
      <thead>
        <tr>ID</tr>
        <tr>Nombre</tr>
        <tr>Departamentos</tr>
        <tr>Años</tr>
      </thead>
    </table>
  </body>
</html>
